@import url("../../../../../utils.css");

.card-container-div{
    display: flex;

    width: 70vw;
    height: 30vw;

    padding: 2rem;

    margin-top: 5rem;

    background-color: var(--e-c-1);
}

.right{
    margin-left: 30vw;
    border-radius: 8px 0px 0px 8px;
}

.left{
    justify-content: end;
    border-radius: 0px 8px 8px 0px;
}

.text-card-div{
    font-size: 120%;
    color: var(--p-c-2);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2em;
    padding-inline: 1rem;
    text-align: center;
    width: 60%;
}

.image-div{
    display:flex;
    overflow: hidden;
    border-radius: 4px;

    box-shadow: 0px 0px 50px -30px rgb(30, 30, 30);
}