@import url("../../../utils.css");

.Nav-corner-side-div{
    position: fixed;
    top: 0;
    
    width: 50px;
    height: 100vh;

    background-color: var(--c1);
    border-right: 1px solid var(--c2);
}

.Nav-corner-up-div{
    position: fixed;
    top: 0;
    left: 50px;
    
    width: calc(100vw - 50px);
    height: 58px;

    background-color: var(--c4);
    border-bottom: 1px solid var(--c2);
}