@import url("../../../utils.css");

.body-div{
    margin-top: 6rem;
    height: 100rem;
    background-color: red;
}

.body-title-div{
    text-align: center;
    color: var(--e-c-1);
}

.cardArea-div{
    background-color: red;
    height: 100%;
    width: 50%;
}