@import url("../../utils.css");

.Nav-corner-side-div{
    position: fixed;
    
    top: 58px;
    
    width: 50px;
    height: calc(100vh - 58px);

    background-color: var(--c1);
}

.Nav-corner-up-div{
    position: fixed;
    
    top: 0;
    
    width: 100vw;
    height: 58px;
    background-color: var(--c1);
}